#body{
    height: 1100px;
    width: 850px;
}
#navbar h3{
    padding: 0px 50px;
}
#navbar{
    height: 80px;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
}
#tagline{
    height: 90px;
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    border-bottom: solid black;
    margin-left: 65px;
}
#temp{
    padding: 0px 20px 0px 5px ;
}
#forcast{
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding: 15px 45px 10px 20px;
}
.box{
    height: 300px;
    width: 140px;
    background-color: lightgray;
    padding: 0px 15px 0px 25px;

}
.cloud{
    height: 110px;
    width: 110px;
    border-radius: 50%;
}
.numb{
    display: flex;
}
.red{
    color: red;
    padding-right: 45px;
}
.blue{
    color: blue;
}
#tom{
    padding: 0px 15px 0px 0px;
}
#cookie{
    height: 100px;
    width: 800px;
    border: black solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:lightgrey;
    margin: 5px;
    position: fixed;
    top: 490px;
    
}
.pict{
    height: 45px;
    width: 45px;
}
.button{
    height: 30px;
    width: 110px;
    background-color: cornflowerblue;
    margin-right: 5px;
}